/*Header navigation styling*/
#head-nav {
    background-image: url(https://wallpapercave.com/wp/wp3899842.jpg);
    background-size: contain;
    color: #01332f;
    font-family:'Fira Sans', sans-serif;
    }

/*prevent color change on used links*/
a {
        color:inherit;
        text-decoration: none;
}

/*Adjust size and position of Name inside nav-bar*/
#myname{
    font-size:30px;
    margin-left: 20px;
}

/*alignment of navigation links*/
#div-links {
    color: white;
    align-content: flex-end;
}
/*background color for styling*/
body{
    background-color: #b8c2c8;
}
/*container for project card layout*/
.container {
    border-style: solid;
    border-color: #128177;
    background-color: white;
    margin-top: 20px;
    margin-right:20px;
    margin-bottom: 20px;
    margin-left:20px;

}
#row1-header {
    color: #004c46;
    font-family:'Fira Sans', sans-serif;
    font-size: xx-large;
    font-weight: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}
#row2-cards {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    text-align: center;
    color: #128177;
  }

  .card {
  }
 

/*Footer*/
#footer {
    background-color: #128177;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
}

